<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h1 class="display-4 py-2 text-truncate">Log in</h1>
                    <div class="px-2">
                      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <div class="field">
                          <%= f.label :email %><br />
                          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                        </div>
                      
                        <div class="field">
                          <%= f.label :password %><br />
                          <%= f.password_field :password, autocomplete: "current-password" %>
                        </div>
                      
                        <% if devise_mapping.rememberable? %>
                          <div class="field">
                            <%= f.check_box :remember_me %>
                            <%= f.label :remember_me %>
                          </div>
                        <% end %>
                      
                        <div class="actions">
                          <%= f.submit "Log in" %>
                        </div>
                      <% end %>
                      
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

