<section class="content1">
  <div class="col-xs-12">
    <%= form_for(report, html: {:class => "form-horizontal cr_Form"}) do |f| %>
      <div class="form-row">
				<div class="form-group col-md-6">					
					<label class="control-label col-sm-5 col-md-4" for="team_membr_fname">Patient Name <span style="color:Red">*</span></label>  
					<div class="col-sm-7 col-md-8">
					<%= f.select :patient_id,Patient.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'Select'} %>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="control-label col-sm-5 col-md-4" for="team_membr_fname">Report Name <span style="color:Red">*</span></label>  
					<div class="col-sm-7 col-md-8">
						<%= f.select :report_id,Report.all.collect {|p| [ p.report_name, p.id ] }, {:include_blank => 'Select'} %>
					</div>					
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">					
					<label class="control-label col-sm-5 col-md-4" for="team_membr_fname">Report Status <span style="color:Red">*</span></label>  
					<div class="col-sm-7 col-md-8">
					<%= f.select :report_status_id,ReportStatus.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'Select'} %>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="control-label col-sm-6 col-md-5" for="team_membr_fname">Sample Collected On <span style="color:Red">*</span></label>  
					<div class="col-sm-7 col-md-8">
						<%=f.text_field :sample_collected_date,:class=>"ptlinput datepicker", "data-provide" => 'datepicker' %>
					</div>					
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">					
					<label class="control-label col-sm-5 col-md-4" for="team_membr_fname">Report Date <span style="color:Red">*</span></label>  
					<div class="col-sm-7 col-md-8">
					<%=f.text_field :report_date,:class=>"ptlinput datepicker", "data-provide" => 'datepicker' %>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="control-label col-sm-6 col-md-4" for="team_membr_fname">Comments <span style="color:Red">*</span></label>  
					<div class="col-sm-7 col-md-8">
						<%=f.text_area :comments,:class=>"ptlinput" %>
					</div>					
				</div>
			</div>

			<%= f.fields_for :patient_report_files do |p| %>
				<div class="field">
					<%= p.label :avatar %>
  					<%= p.file_field :avatar, multiple: true, name: "patient_report_files[avatar][]" %>

				</div>
			<% end %>
			
			
			
			
			<div class="row">
  			<div class="col-md-12">
    			<%= f.submit 'Save',:class=>"btn btn-primary",:style=>"margin-bottom:15px;"%>
  			</div>  
			</div>

    <%end%>
  </div>
      <!-- /.col -->
    
</section>
<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>